<%- include('../includes/header.ejs'); -%>

  </head>
  <body>
      <header>
        <%- include('../includes/nav.ejs'); -%>
      </header>
      <main class="container-fluid">
          <header class="container">
            <div class="row">
                <div class="col-sm">
                    <h1 class="text-center pt-5 pb-5"><%= title %></h1>
                </div>
            </div>
          </header>
          <section class="container">
              <div class="row">
                  <div class="col-sm-12">
                      <a class="btn btn-primary" href="/admin/create-page" role="button">Create a page</a>
                  </div>
                  <div class="col-sm-6">
                  </div>
              </div>
          </section>
      </main>
  </body>
  <footer>

<%- include('../includes/footer.ejs'); -%>

