.edit__form {
    width: 80%;
    margin: auto;
}

.edit__form {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.8);
}


.edit__form__container {position: absolute;
    width: 80%;
    /* margin: auto; */
    top: 25vh;
    left: 10%;
    background: white;
    padding: 3rem;
}
.amend{
    border: solid red;
    border-width: thin;
}
.cancel-icon {
    font-size: 1.5rem;
    background-color: inherit;
    border: 0px;
}